.container {
  width: 400px;
  padding: 20px 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title span {
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
}
