.header-container {
  display: flex;
}

.header-container .main-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px 0;
}
.left-content {
  padding-left: 20px;
}
.logo-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo-button span {
  font-weight: bold;
  font-size: 1.25rem;
}

.center-content {
  width: 65%;
  display: block;
}
.right-content {
  display: flex;
  gap: 1rem;
  padding-right: 90px;
}

.profile-wrapper,
.alarm-wrapper {
  display: flex;
  position: relative;
}

.info-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: relative;
  border-radius: 100%;
  cursor: pointer;
}
.info-button:not(:disabled):active .button-state {
  background-color: #303030;
  opacity: 12%;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: inherit;
}

.info-icon img {
  width: 100%;
  height: auto;
  border-radius: inherit;
}
.search-bar-wrapper {
  display: flex;
  border: solid;
  border-color: #ced4da;
  border-radius: 10px;
  align-items: stretch;
  background-color: #fafafa;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 400px;
}

.search-bar-wrapper .search-button {
  all: unset;
  cursor: pointer;
  position: relative;
  border-radius: 40%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.search-bar-wrapper .clear-button {
  all: unset;
  height: 100%;
  cursor: pointer;
  border-radius: 40%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.search-bar-wrapper .search-button .search-button-icon,
.search-bar-wrapper .clear-button .clear-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  width: 2rem;
}
.search-bar-wrapper .no-value {
  visibility: hidden;
}

.search-bar-wrapper input {
  font-size: 1em;
  background-color: #fafafa;
  border: none;
  width: inherit;
  outline: none;
  padding-top: 0;
  padding-bottom: 0;
}
.search-bar-wrapper:hover .search-button-icon,
.search-bar-wrapper:hover .clear-button-icon,
.search-bar-wrapper:focus-within .search-button-icon,
.search-bar-wrapper:focus-within .clear-button-icon {
  opacity: 100%;
}

.search-bar-wrapper:focus-within,
.search-bar-wrapper:focus-within input {
  background-color: #f1f3f5;
}

.button-state {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.218s;
}

.search-button:not(:disabled):active .button-state,
.clear-button:not(:disabled):active .button-state {
  background-color: gray;
  opacity: 10%;
}

.profile-wrapper .modal {
  position: absolute;
  top: 33px;
  right: 0;
}
