.header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: solid;
  background-color: white;
  border-color: #dee2e6;
  z-index: 10;
}
.side {
  position: fixed;
  top: 53px;
  left: 0;
  right: 0;
  width: 95px;
  z-index: 10;
  height: calc(100vh - 61px);
  border-right: solid;
  border-color: #dee2e6;
  transition: width 0.3s ease;
}
.side.open {
  width: 250px;
}
.main {
  margin-top: 53px;
  margin-left: 95px;
  transition: margin-left 0.3s ease;
}

.main.open {
  margin-left: 250px;
}
