.modal-container {
  width: 300px;
  border: solid 0.5px;
  border-color: #e9ecef;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.member-info-wrapper {
  display: flex;
  padding: 15px;
  gap: 1rem;
  border-bottom: solid;
  border-color: #e9ecef;
}

.member-info-wrapper .profile-icon {
  width: 2.5rem;
  border-radius: 100%;
}

.member-info-wrapper .profile-icon img {
  width: inherit;
  border-radius: inherit;
}

.member-info-wrapper .member-info {
  display: flex;
  flex-direction: column;
}

.menu-button-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px 14px;
  gap: 8px;
}

.menu-button:hover {
  background-color: #e9ecef;
}
.menu-button:not(:disabled):active {
  background-color: #dee2e6;
}

.menu-button .logout-icon,
.menu-button .setting-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
