.modalContainer {
  width: 200px;
}

.wrapper {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.wrapper button {
  all: unset;
  cursor: pointer;
  display: flex;
  padding: 5px 8px;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.icon {
  width: 2rem;
  height: 2rem;
}
