.option-item-container {
  position: sticky;
  top: 61px;
  display: flex;
  justify-content: end;
  background-color: white;
  z-index: 9;
}

.option-item {
  display: flex;
  align-items: stretch;
  padding: 10px;
}

.option-item .select {
  position: relative;
  width: 100px;
  user-select: none;
}
.select-default {
  display: flex;
  border: 1px solid;
  border-color: #ced4da;
  border-radius: 5px;
  width: inherit;
  align-items: center;
  justify-content: space-around;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.select-default:hover {
  background-color: #f1f3f5;
}
.select-default:active {
  background-color: #e9ecef;
}

.select-icon {
  display: flex;
  align-items: center;
  user-select: none;
  gap: 2px;
  justify-content: center;
  width: 1rem;
  height: 1rem;
}

.select-icon img {
  width: inherit;
}
.select .select-option-list {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  width: inherit;
  list-style: none;
}

.select-option-list li {
  border-radius: inherit;
  cursor: pointer;
  margin: 0;
  padding: 6px 10px;
}

.select-option-list li:hover {
  background-color: #e9ecef;
}

.option-item .create-button {
  all: unset;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0px 6px;
}

.option-item .create-button:hover {
  background-color: #f1f3f5;
}

.option-item .create-button:active {
  background-color: #e9ecef;
}
