.container {
  border: solid 0.5px;
  border-radius: 20px;
  border-color: #e9ecef;
  padding: 20px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: background-color 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.container:hover {
  border-color: #ced4da;
  background-color: #fafafa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  justify-content: stretch;
}

.projectImgSize {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  align-items: start;
}

.descriptionWrapper {
  display: flex;
  position: relative;
  height: 20%;
  flex-direction: column;
}

.descriptionWrapper .projectDescription {
  display: flex;
}

.descriptionWrapper .masterWrapper {
  align-items: start;
  padding: 0 12px;
}

.masterIconSize {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.projectDescription .info {
  padding-top: 5px;
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.dateField {
  font-weight: bold;
  font-size: smaller;
  color: gray;
}

.descriptionWrapper .settingButton {
  all: unset;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  right: 0;
  transition: background-color 0.2s ease-in-out;
}

.descriptionWrapper .modalBottom {
  position: absolute;
  top: 34px;
  right: 0;
}
.descriptionWrapper .modalTop {
  position: absolute;
  bottom: 60px;
  right: 0;
}

.descriptionWrapper .settingButton:active {
  background-color: #e0ecef;
}
