.container {
  width: 200px;
}

.buttonWrapper {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.buttonWrapper button {
  all: unset;
  padding: 10px 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
